<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ baseurl }}js/jquery.jeditable.mini.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core js -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{{ baseurl }}css/blog.css" rel="stylesheet">
    <link href="{{ baseurl }}css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="//maxcdn.bootstrapcdn.com/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="//getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <p class="blog-nav-item active" href="/home">Home</p>
            {# <a class="blog-nav-item" href="#">About</a> #}
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>

        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            {% for post in posts %}
                <div class="blog-post">
                    <h2 class="blog-post-title" id="blog-post-title-{{ post.id_post }}">{{ post.post_title }}</h2>

                    <p class="blog-post-created"
                       id="blog-post-created-{{ post.id_post }}">{{ post.post_created|date("Y-m-d") }}</p>

                    <p class="blog-post-content" id="blog-post-content-{{ post.id_post }}">{{ post.post_content|e }}</p>
                </div>
            {% endfor %}
            <span id="blog-post-next"></span>
            <!-- /.blog-post -->

            {% if page_id %}
                <nav>
                    <ul class="pager">
                        <li>
                            <button type="button" class="btn btn-primary" data-pager="p={{ page_id }}&n={{ page_next }}"
                                    id="blog-more">More
                            </button>
                        </li>
                    </ul>
                </nav>
            {% endif %}

        </div>
        <!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>

                <p>Jast simple PHP application - MVC blog</p>
            </div>

            <div class="sidebar-module sidebar-module-inset">
                <h4>For editors</h4>
                <button type="button" class="btn btn-primary" id="add-new">Add New</button>
            </div>

            <div class="sidebar-module">
                <h4>Last</h4>
                <ol class="list-unstyled">
                    <div class="blog-post">
                        {% for post in posts %}
                            <li><p>{{ post.post_created|date("M. Y") }}</p></li>
                        {% endfor %}
                    </div>
                </ol>
            </div>

            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a target="_blank" href="https://github.com/mcdir/blogMVCphp">GitHub</a></li>
                </ol>
            </div>
        </div>
        <!-- /.blog-sidebar -->

    </div>
    <!-- /.row -->

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">

                    <form name="add-new-modal-form" id="add-new-form" method="post">
                        <div class="form-group">
                            <label for="blog-post-title" class="control-label">Title:</label>
                            <input name="blog-post-title" type="text" class="form-control" id="blog-post-title">
                        </div>
                        <div class="form-group">
                            <label for="blog-post-created" class="control-label">Created:</label>

                            <div class="container">
                                <div class="row">
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' name="blog-post-created" id="blog-post-created"
                                                       class="form-control"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="blog-post-content" class="control-label">Text:</label>
                            <textarea class="form-control" name="blog-post-content" id="blog-post-content"></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="add-new-save" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="//twitter.com/mdo">@mdo</a>.
    </p>

    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="//maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="{{ baseurl }}js/site.js"></script>
<script src="{{ baseurl }}js/moment.min.js"></script>
<script src="{{ baseurl }}js/bootstrap-datetimepicker.min.js"></script>
<script>
    var config = {'baseurl': "{{ baseurl|e('js') }}"};
</script>

<!-- This is the template -->
<script id="blog-post-template" type="text/x-jquery-tmpl">
<div class="blog-post">
    <h2 class="blog-post-title" id="blog-post-title-${id_post}">${post_title}</h2>
    <p class="blog-post-created" id="blog-post-created-${id_post}">${post_created}</p>
    <p class="blog-post-content" id="blog-post-content-${id_post}">${post_content}</p>
</div>

</script>

</body>
</html>
